  :root {
      --custom-blue: #2C3E50;
      --custom-acqua: #1ABC9C;
  }

  header {
      height: 5.625rem;
      background-color: var(--custom-blue);
  }

  section#introduction {
      background-color: var(--custom-acqua);
  }

  section#portfolio .container div > *,
  section#contact .container div > *
  {
    border-color: var(--custom-blue);
    color: var(--custom-blue)
  }

  section#about {
    background-color: var(--custom-acqua);
}

form button {
    background-color: var(--custom-acqua) !important;
}

  /*
 Debug
*/

  .debug .logo {
      background-color: azure;
  }

  .debug .menu {
      background-color: beige;
  }

  .debug section#introduction {
      height: 36.875rem;
  }

  .debug section#portfolio {
    height: 53.75rem;
}

  .debug section#about {
    height: 31.25rem;
  }

  .debug section#contact {
    height: 36.875rem;
  }

  .debug section > .container {
    background-color: bisque;
}

