  :root {
      --custom-blue: #2C3E50;
      --custom-light-blue: #3A546D;
      --custom-acqua: #1ABC9C;
  }

  header {
      min-height: 5.625rem;
      background-color: var(--custom-blue);
  }

  .avatar {
    width: 16rem;
  }

  section#introduction {
      background-color: var(--custom-acqua);
  }

  section#portfolio .container div>*,
  section#contact .container div>* {
      border-color: var(--custom-blue);
      color: var(--custom-blue)
  }

  section#about {
      background-color: var(--custom-acqua);
  }

  footer .footer-top {
    background-color: var(--custom-light-blue);
  }

  footer .footer-low {
    background-color: var(--custom-blue);
    height: 3rem;
  }

  form button {
      background-color: var(--custom-acqua) !important;
  }

div.social-icon {
    width: 2rem;
    height: 2rem;
}
div.social-icon i {
    vertical-align: middle;
}

  /*
 Debug
*/

  .debug .logo {
      background-color:cadetblue ;
  }

  .debug .menu {
      background-color: cadetblue;
  }

  .debug section#introduction {
      height: 36.875rem;
  }

  .debug section#portfolio {
      height: 53.75rem;
  }

  .debug section#about {
      height: 31.25rem;
  }

  .debug section#contact {
      height: 36.875rem;
  }

  .debug section>.container {
      background-color: bisque;
  }

  .debug .footer-top {
      height: 28.125rem;
  }

  .debug .footer-top {
    height: 28.125rem;
}

.debug .footer-low {
    height: 6.25rem;
}